body {
    margin: 0;
    padding: 0;
    color: #023047;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  .formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
  }
  
  .areaLogin img {
    width: 420px;
  }
  
  .formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
  }
  
  .formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
  }
  
  .formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
  }
  
  .formLogin input:focus {
    border: 1px solid rgb(23, 23, 173);
  }
  
  .formLogin label {
    font-size: 14px;
    font-weight: 600;
  }
  
  .formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
  }
  
  .formLogin a:hover {
    color: rgb(23, 23, 173);
  }
  
  .btn {
    background-color: rgb(247, 247, 51);
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
  }
  
  .btn:hover {
    transform: scale(1.05);
    background-color: rgb(223, 223, 8);
  }
  
  .tudo {
    display: flex;
  }
  
  .btn-cadastro {
    background-color: #cccccc00;
    color: gray;
    border: none;
    width: 16pc;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  .formCadastro {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
  }
  
  .formCadastro h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
  }
  
  .formCadastro p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
  }
  
  .formCadastro input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
  }
  
  .formCadastro input:focus {
    border: 1px solid rgb(23, 23, 173);
  }
  
  .formCadastro label {
    font-size: 14px;
    font-weight: 600;
  }
  
  .formCadastro a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
  }
  
  .formCadastro a:hover {
    color: rgb(23, 23, 173);
  }
  
  span {
    cursor: pointer;
  }
  
  /* Responsive styling */
  @media screen and (max-width: 600px) {
    .areaLogin img {
      width: 100%; /* Make the image responsive */
    }
  
    .formLogin,
    .formCadastro {
      width: 80%; /* Adjust the width of the forms for smaller screens */
    }
  }
  